.center {
    width: 90%;
    margin: auto;
    text-align: center;
}

.height-box {
    display: inline-block;
    height: 74px;
}

.border {
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.border2 {
    border-bottom: 3px solid white;
}

.border3 {
    border-bottom: 2px solid white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fs-small {
    font-size: small;
}

.bg-color {
    background-color: rgb(238, 238, 238);
    padding: 1px;
}

.box-1 {
    width: 37%;
    background-color: rgb(126, 229, 218);
    float: left;
}

.box-2 {
    width: 20%;    
    background-color: rgb(112, 204, 194);
    float: left;
    line-height: 18px;
}

.box-pt {
    display: block;
    margin-top: 10px;
    padding-bottom: 7px;
}

.box3-pt {
    display: block;
    padding-bottom: 3px;
    margin-top: 2px;
}

.box-3 {
    width: 43%;
    background-color: rgb(98, 179, 170);
    float: left;
    line-height: 12px;
}

.clearfix {
    clear: both;
}

.pt {
    padding-top: 10px;
}